==== Rules of #redditeu =====

Rule 1: Raziel always returns.

Rule 2: When BadFurDay writes something in french, Garner replies with rofl.

Rule 3: Everything Garner types is a typo.

Rule 4: Naypam's HTML counterpart is <sup>

Rule 5: Everything moop likes is shit. Everything BadFurDay likes is perfect.

Rule 6: Kage is working right now. If not, he is thinking about work.

Rule 7: Every SC2 race is op. Especially zerg. Just saying.

Rule 8: True facts are true. True fact.

Rule 9: Q is impossible to use.

Rule 10: Naypam always has a relevant fap story.

Rule 11: Random vs random in SC2 always ends up in a mirror matchup.

Rule 12: Pedantry is the signature move of BadFurDay.

Rule 13: Naypam can't write rules.
